Memberships
* User should see link for Basic Plan on home page
* User should see link for Pro Plan on home page
* Basic should point ot regular Devise sign up form
* Pro should point to a custom sign up form
* 


User Profiles 

* Each user should have one profile 
* User should see a link to the new profile form upon signup
* User should be able to create and view their user profile 
* User profile should have a profile picture
* User should be able to view all user profiles 

